body {
    background-color: #8FBC8F;
     color: #333;
     font-family: Arial, sans-serif;
     padding: 10px;
     text-align: center;;
   }
   
   header {
     background-color: #342798;
     color: #fff;
     padding: 10px 20px;
   }
   
   nav ul {
     list-style: none;
     padding: 0;
   }
   
   nav ul li {
     display: inline-block;
     margin-right: 20px;
   }
   
   nav ul li a {
     color: #fff;
     text-decoration: none;
   }
   
   button#colorblind-toggle {
    background-color: #333;
    color: #fff;
    padding: 10px;
    cursor: pointer;
     position: absolute;
     top: 12px; 
     right: 100px; 
     margin: 10px;
   }
   .content {
     text-align: center;
     margin-top: 50px;
   }
   
   .box {
     width: 1000px;
     height: 500px;
     background-color: #4CAF50; /* Green box */
     margin: 20px auto;
   }
 
.container{
    max-width: 600px;
    margin:0 auto;
    padding:50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.form-group{
    margin-bottom:30px;
}

label {
  margin-bottom: 5px;
}

input, select {
  margin-bottom: 10px;
  padding: 5px;
}

button#logout {
  background-color: #333;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 10px; 
  right: 10px; 
  margin: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
header img {
  width: 200px;
  height: 150px;
  position: absolute;
  top: 5px;
  left: 5px;
}

   /* Colorblind Mode Styles */
   .colorblind .box {
     background-color: #FFD700; /* Cornflower blue box for colorblind mode */
   }
   .slider-container {
    width: 100%;;
    overflow: hidden;
}

.slide {
    width: 1000px;
    height:500px;
    display: none;
}

img {    
    width: 1000px;
    height: 500px;
    cursor: pointer;
}
.marquee-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.marquee h1{
  animation: marquee 15s linear infinite;
  font-size: 2em;
  color: #3498db; /* Change the color as needed */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add a subtle text shadow */
}

@keyframes marquee {
  0% {
      transform: translateX(100%);
  }

  100% {
      transform: translateX(-100%);
  }
}

